@using Kitbag.HackWebApplication.Models
@model LoginViewModel

@{
}


<h2 class="site-title">CurrentlyWorkingOn.com</h2>
<h3 class="site-sub-title">What are you currently working on?</h3>
<div class="row">
    
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
    <div class="col-md-4">

    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}