@using Kitbag.HackWebApplication.Models
@model LoginViewModel

@{
}


<h1 class="site-title c-won-Font"><em>currently</em><strong>working</strong><em>on</em></h1>
<h3 class="site-sub-title">the social team community</h3>
<div class="row">
    
    <div class="col-md-3">

    </div>
    <div class="col-md-6 text-center">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
    <div class="col-md-3">

    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}