body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.c-won-Font {
    font-family: 'ABeeZee', sans-serif;
}

.navbar-brand {
    font-size: 18pt;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#profileSmall #image {
    float: left;
    margin-right: 10px;
}

#profileSmall #name {
    font-weight: bold;
}

#profileSmall #name-and-group {
    float: left;
}

#feed textarea.new-status {
    max-width: none !important;
    width: 100% !important;
}

#feed .feed-status {
    clear: both;
    margin-bottom: 20px;
}

    #feed .feed-status .post {
        float: left;
    }

        #feed .feed-status .post .when {
            font-style: italic;
        }

#feed .user-image {
    float: left;
    margin-right: 10px;
}

#feed .user-name {
}

#groups .group {
    background-color: #ccc;
    border: 1px solid #bbb;
    border-radius: 5px;
    float: left;
    font-weight:bold;
    height: 140px;
    text-align: center;
    width: 140px;
    margin: 10px;
}

    #groups .group a {
        color: #000;
        display: block;
        height: 150px;
        padding-top: 60px;
        width: 150px;
    }

#people .person {
    border: 1px solid #ccc;
    float: left;
    margin: 8px;
    text-align: center;
    width: 150px;
}

    #people .person img {
        margin: 3px;
        width: 120px;
    }

    #people .person .name {
        font-weight: bold;
    }

    #people .person .job-title {
        font-size: 0.8em;
    }

    #people .person .working-on-label {
        font-size: 0.8em;
        font-weight: bold;
    }

    #people .person .working-on {
        font-size: 1em;
        font-style: normal;
    }

footer p {
    text-align: center;
}

h1.site-title {
    font-size: 4em;
    margin-top: 100px;
    text-align: center;
}

h3.site-sub-title {
    font-size: 2em;
    text-align: center;
}

#feed-right {
    /*border-left: 1px solid #ccc;*/
    margin-top: 20px;
    max-height:400px;
    overflow-y:hidden;
}

    #feed-right .feed-entry {
        border-bottom: 1px solid #ccc;
        margin:5px 0 5px 0;
    }

        #feed-right .feed-entry .period {
            color: #555;
            font-style: italic;
        }

#currently-working-on {
}

input#currently-working-on-status-new {
    max-width:none;
    /*width: 100% !important;*/
}

span#currently-working-on-status {
    font-size:3em;
    font-weight:bold;
}

#currently-working-on-edit {
    display:none;
}

#appointments .appointment {
    border-bottom:1px solid #ccc;
    margin-bottom:10px;
}

#appointments .appointment .title {
    font-weight:bold;
}