body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.c-won-Font { font-family: 'ABeeZee', sans-serif; }
.navbar-brand{ font-size: 18pt;}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#profileSmall #image {
    float: left;
    margin-right: 10px;
}

#profileSmall #name {
    font-weight: bold;
}

#profileSmall #name-and-group {
    float: left;
}

#feed textarea.new-status {
    max-width: none !important;
    width: 100% !important;
}

#feed .feed-status {
    clear: both;
    margin-bottom: 20px;
}

    #feed .feed-status .post {
        float: left;
    }

        #feed .feed-status .post .when {
            font-style: italic;
        }

#feed .user-image {
    float: left;
    margin-right: 10px;
}

#feed .user-name {
}

#groups .group {
    background-color: #ccc;
    border: 1px solid #bbb;
    border-radius: 5px;
    float: left;
    height: 150px;
    text-align: center;
    width: 150px;
    margin: 10px;
}

#people .person {
    border: 1px solid #ccc;
    float: left;
    margin: 10px;
    text-align: center;
}

    #people .person img {
        margin: 3px;
    }

    #people .person .name {
        font-weight: bold;
    }

    #people .person .working-on-label {
    }

    #people .person .working-on {
        font-style: italic;
    }

footer p {
    text-align: center;
}

h1.site-title {
    font-size: 4em;
    margin-top: 100px;
    text-align: center;
}

h3.site-sub-title {
    font-size: 2em;
    text-align: center;
}

#feed-right {
    /*border-left: 1px solid #ccc;*/
    margin-top: 20px;
}

    #feed-right .feed-entry {
        border-bottom: 1px solid #ccc;
    }
