@model List<Kitbag.HackWebApplication.Models.DisplayStatus>
@{
    ViewBag.Title = "_Feed";
}

<div id="feed">
    
    @foreach(var status in Model)
    {
        <div class="feed-status">

            <div class="user-image">
                @Html.RenderGravatarImage(status.Email, 50)
            </div>
            <div class="post">
                <div class="user-name">
                    @Html.ActionLink(status.Name, "view", "person", new { id = 1 }, null)
                </div>
                <div class="message">
                    @status.Message
                </div>
                <div class="when">
                    @status.TimeStamp
                </div>
            </div>
        </div>
        <hr style="clear:both" />
    }

</div>
