
@{
}

<div id="groups">

    @for (int x = 0; x < 9; x++)
    {
        <div class="group">
            @Html.ActionLink("Group " + x.ToString(), "view", "group", new { id=1}, null)
            
        </div>
    }

</div>

