@model List<Kitbag.Domain.Group>
@{
}

<div id="groups">

    @foreach (var group in Model)
    {
        <div class="group">
            @Html.ActionLink(group.Name, "view", "group", new { id = group.Id }, null)
        </div>
    }

</div>

