@model Kitbag.HackWebApplication.Models.HierarchyViewModel

<link href="~/Content/hierarchy.css" rel="stylesheet" type="text/css" />
<div class="tree">
    <ul>
        <li>

            <a href="/person/view/11">Paul Joseph (IT Director)</a>
            <ul>
                <li>
                    <a href="/person/view/10">Simon Rowe (Development Manager)</a>
                    <ul>
                        <li><a href="/person/view/14">Lee Englestone (Lead)</a></li>
                        <li><a href="/person/view/15">Ric Hopwood (Lead)</a></li>
                        <li><a href="/person/view/16">Tauheedul Ali</a></li>
                        <li><a href="/person/view/7">Matt Hughes</a></li>
                        <li><a href="/person/view/13">Pete Bettison</a></li>
                        <li><a href="/person/view/12">Rob Lindley</a></li>
                        <li><a href="/person/view/22">Luke Eccleston</a></li>
                        <li><a href="/person/view/23">Faisal Ashraf</a></li>
                    
                    </ul>
                
                </li>
            </ul>
        </li>
        @*<li>
                <a href="#">Child</a>
                <ul>
                    <li><a href="#">Grand Child</a></li>
                    <li>
                        <a href="#">Grand Child</a>
                        <ul>
                            <li>
                                <a href="#">Great Grand Child</a>
                            </li>
                            <li>
                                <a href="#">Great Grand Child</a>
                            </li>
                            <li>
                                <a href="#">Great Grand Child</a>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#">Grand Child</a></li>
                </ul>
            </li>*@
    </ul>

</div>

<div class="clearfix"></div>