@model List<Kitbag.Domain.Group>
<h3>User Groups</h3>
<ul>
    @foreach (var group in Model)
    {
        <li>@Html.ActionLink(group.Name, "view", "group", new { id = group.Id }, null)</li>
    }
</ul>



