@model List<Kitbag.Domain.Person>

@{
}

<div id="people">

    @foreach (var person in Model)
    {
        <div class="person">
            <div class="name">@person.FirstName @person.LastName</div>
            <a href="/person/view/@person.Id">
                @Html.RenderGravatarImage(person.Email, 113)
            </a>
            <div class="working-on-label">Currently working on..</div>
            <div class="working-on">Year end financial report</div>
        </div>
    }

</div>