<div id="profileSmall">

    <div id="image">
        @Html.RenderGravatarImage("lee.englestone@gmail.com", 50)
    </div>

    <div id="name-and-group">

        <div id="name">
            @Html.ActionLink("Lee Englestone", "view", "person", new { id = 1 }, null)
        </div>

        <div id="group">
            Marketting
        </div>
    </div>
</div>
