
<div id="feed-right">

    @for (int x = 0; x < 20; x++)
    {
        <div class="feed-entry">
            <div>
                Some entry
            </div>
            <div class="period">
                about 1 hour ago
            </div>
        </div>
    }

</div>


