
<div id="feed-right">

    @for (int x = 0; x < 20; x++)
    {
        <div class="feed-entry">
            <div class="name">
                <a href="/person/view/1">Mike Tyson</a>
            </div>
            <div class="message">
                Some entry that is slightly longer. Perhaps even this long..
            </div>
            <div class="period">
                about 1 hour ago
            </div>
        </div>
    }

</div>


