<h3>Update Status</h3>
<div style="margin-bottom:20px;">
    <textarea class="new-status" style="width:85%; max-width:none; float:left;" id="statusMessage"></textarea>
    <button class="btn btn-success" style="float:right; margin-left:10px;" id="statusButton">Post</button>
</div>
<div class="clearfix"></div>
