
@{
    ViewBag.Title = "_UpdateStatus";
}
<h3>Update Status</h3>
<textarea class="new-status" style="width:100%; max-width:none">
    
</textarea>
<p style="margin-top:10px;"><button class="btn btn-success" style="float:right;">Post</button></p>

@*<h2>Currently working on..</h2>
<textarea class="col-md-6"></textarea>*@